.masthead {
    background-image: url("img/hero.jpg");
    background-size: cover;
    height: 100vh;
    position: relative;
  }

.masthead-title {
    position: absolute;
    bottom: 100px;
    right: 200px;
}

.bg-primary {
    background-color: #c2c2d6 !important;
  }

h1 {
    color: #e6b800;
}

.divider-custom, .masthead-subheading {
    color: #e6b800;
}

  