h1 {
    color: #e6b800;
}

.bg-primary {
    background-color: #e6b800 !important;
}

/* ----------- MASTHEAD --------------*/
.masthead-title {
    width: 100%;
    margin: 0;
    /* padding-right: 200px; */
}

.masthead {
    background-image: url("img/hero.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    align-content: flex-end;
    justify-content: flex-end;
    margin: auto;
  }

  .divider-custom, .masthead-subheading {
    color: #e6b800;
}

/* ----------- NAV BAR SECTION --------------*/

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #e6b800 !important;
}


#mainNav .navbar-nav>li.nav-item>a.nav-link.active:active, 
#mainNav .navbar-nav>li.nav-item>a.nav-link.active:focus, 
#mainNav .navbar-nav>li.nav-item>a.nav-link.active:hover {
    color: #fff;
    background: #e6b800;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
    color: #e6b800;
  }

a {
    color: #e6b800;
    text-decoration: none;
    background-color: transparent;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
    color: #e6b800;
  }

  #mainNav .navbar-nav li.nav-item a.nav-link.active {
    color: #e6b800;
  }

  #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
    color: #fff;
    background: #e6b800;
  }

/* ----------- PORTFOLIO SECTION --------------*/

  .portfolio .portfolio-item .portfolio-item-caption {
    background-color: rgba(230, 184, 0, 0.8); 
    width: 350px;
    height: 250px;
}

  
a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
  background-color: #e6b800 !important;
}

.portfolio-item {
    width: 350px;
    height: 250px;
    border: solid 1px #cccccc;
}

.portfolio-item > img {
    width: 100%;
}

/* ----------- ABOUT SECTION --------------*/

#about {
    background-image: url("img/about.jpg");
    /* background-size: cover; */
    background-position: center;
    height: 100vh;
}

.about-outline {
    border: solid 1px  #e6b800;
    border-radius: 1%;
    padding-top: 20px;
}


.about-outline p {
    color: black;
    /* padding-bottom: 3rem; */
}

/* ----------- FOOTER --------------*/

/* ----------- MODAL --------------*/
.btn-primary {
    color: #fff;
    background-color: #2c3e50;
    border-color: #2c3e50;
}
.btn-primary:hover {
    color: #fff;
    background-color: #3f5973;
    border-color: #3f5973;
  }
  
  .btn-primary:focus, 
  .btn-primary.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(230, 184, 0, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(230, 184, 0, 0.5);
  }
  
  .btn-primary.disabled, 
  .btn-primary:disabled {
    color: #fff;
    background-color: #2c3e50;
    border-color: #2c3e50;
  }
  
  .btn-primary:not(:disabled):not(.disabled):active, 
  .btn-primary:not(:disabled):not(.disabled).active,
  .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #2c3e50;
    border-color: #2c3e50;
  }

  .fa-times {
    color: #e6b800;
  }

  .modal-text > p {
      color: black;
  }

  .modal-img > img {
    border: solid 1px #cccccc;
  }

  .list li {
    list-style-type: none;
  }

/* ----------- RESUME --------------*/

/* ----------- MEDIA QUERIES --------------*/

@media screen and (min-width: 570px) {
    #about {
        height: 70vh;
    }
}

@media screen and (min-width: 770px) {
    /* #about {
        height: 75vh;
    } */

    /* #resume {
        height: 100vh;
    } */
    /* change the resume section once add the files, added the 100vh in order for nav bar to be responsive(yellow background over resume) */
}

