.masthead {
    background-image: url("img/hero.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    align-content: flex-end;
    justify-content: flex-end;
    margin: auto;
  }

.masthead-title {
    width: 100%;
    margin: 0;
    /* padding-right: 200px; */
}

h1 {
    color: #e6b800;
}

.divider-custom, .masthead-subheading {
    color: #e6b800;
}

.bg-primary {
    background-color: #e6b800 !important;
}

#about {
    background-image: url("img/about.jpg");
    background-size: cover;
    background-position: center;
    height: 90vh;
}

.about-outline {
    border: solid 2px  #e6b800;
    border-radius: 1%;
    padding-top: 20px;
}

.about-outline h2, p {
    color: black;
}

.about-outline h2 {
    line-height: 200%;
    text-decoration: underline;
    margin-bottom: 50px;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #e6b800 !important;
}


#mainNav .navbar-nav>li.nav-item>a.nav-link.active:active, 
#mainNav .navbar-nav>li.nav-item>a.nav-link.active:focus, 
#mainNav .navbar-nav>li.nav-item>a.nav-link.active:hover {
    color: #fff;
    background: #e6b800;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
    color: #e6b800;
  }

a {
    color: #e6b800;
    text-decoration: none;
    background-color: transparent;
}

@media screen and (min-width: 570px) {
    #about {
        height: 95vh;
    }
}

@media screen and (min-width: 770px) {
    #about {
        height: 90vh;
    }
}

